.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  min-height: 60vh;
  justify-content: center;
}

.malicious-header {
  width: 100%;
  background-color: #c01920;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.leave-btn {
  text-decoration: none;
  transition: 0.3s;
  background-color: #f9f9f9;
  color: #1e1e1e;
  border: 1px gray solid;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.malicious-content {
  max-width: 600px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.malicious-icon {
  height: 60px;
  border-radius: 10px;
  border: 1px gray solid;
}

.malicious-details p {
  text-align: center;
}

.malicious-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.5;
}

.malicious-buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.report-btn {
  background-color: #c01920;
  color: white;
  border: 1px gray solid;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.visit-btn {
  background-color: #f9f9f9;
  color: #1e1e1e;
  border: 1px gray solid;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.leave-btn:hover {
  background-color: #1e1e1e;
  color: white;
}

.report-btn:hover,
.visit-btn:hover {
  background-color: black;
  color: white;
}

.footer-malicious {
  position: fixed;
  bottom: 0;
  background-color: #c01920;
  color: white;
  width: 100%;
  padding: 30px 0;
  margin: 0;
}

.phishing-header {
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.footer-phishing {
  position: fixed;
  bottom: 0;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  padding: 30px 0;
  margin: 0;
}

.extension-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  min-height: 60vh;
  justify-content: center;
}

.extension-subtitle {
  margin-right: 10%;
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

.input-section {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 40%;
}