.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px gray solid;
  position: sticky;
  top: 0;
  margin: -8px;
  background-color: white;
  z-index: 999;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px gray solid;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #1e1e1e;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  transition: 0.3s;
}

.nav-links .btn-about {
  background-color: #f9f9f9;
  color: #1e1e1e;
  border: 1px gray solid;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.nav-links .btn-get-started {
  background-color: #1e1e1e;
  color: white;
  padding: 10px 20px;
  border: 1px gray solid;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.nav-links .btn-about:hover {
  background-color: #1e1e1e;
  color: white;
}

.nav-links .btn-get-started:hover {
  background-color: white;
  color: #1e1e1e;
}

/* Footer */
.footer {
  background: #4b4b4b;
  color: white;
  padding: 15px 0;
  width: 100%;
  bottom: 0;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
    padding: 10px 15px;
  }

  .logo {
    height: 45px;
  }

  .logo-text {
    font-size: 20px;
  }

  .nav-links {
    width: 100%;
    justify-content: end;
    margin-top: 10px;
  }

  .nav-links .btn-about,
  .nav-links .btn-get-started {
    font-size: 16px;
    padding: 15px 30px;
  }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .logo {
    height: 40px;
  }

  .logo-text {
    font-size: 18px;
  }

  .nav-links {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: stretch;
  }

  .nav-links .btn-about,
  .nav-links .btn-get-started {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .footer {
    font-size: 14px;
  }
}
