/* Carousel */
.carousel {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: auto;
  z-index: 0;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  margin: 0 70px;
}

.carousel-image {
  width: 350px;
  height: 200px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: brightness(50%);
  position: relative;
  z-index: 1;
  cursor: none;
}

.carousel-image:hover {
  filter: brightness(100%);
}

.modal-image {
  margin-bottom: 1000px;
  width: 65%;
  max-height: 70%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

button {
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  color: #ccc;
}

button:hover {
  cursor: none;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 2;
}

.thumbnail-image {
  width: 90px;
  height: 60px;
  margin: 15px 5px;
  cursor: pointer;
  border: 2px solid transparent;
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
  cursor: none;
}

.thumbnail-image:hover {
  filter: brightness(100%);
}

.thumbnail-image.active {
  border-color: #0991ec;
  filter: brightness(100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.modal-open {
  overflow-y: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  margin: -8px;
  background-color: #212421;
  z-index: 999;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgba(34, 60, 59, 1) 10%,
    rgba(74, 140, 138, 1) 50%,
    rgba(34, 60, 59, 1) 90%
  );
  cursor: none;
}

.dot {
  width: 50px;
  height: 50px;
}

.dot-img {
  width: 30px;
  height: 30px;
}

.dot,
.dot-img {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px gray solid;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #eeeeee;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  transition: 0.3s;
}

.btn-about {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #cccccc;
}

.btn-about:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
    2px 2px 5px #a8a8a8, -2px -2px 5px #ffffff;
}

.btn-about:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
    2px 2px 5px #a8a8a8, -2px -2px 5px #ffffff;
}

.btn-get-started {
  background-color: #223c3b;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #172928, inset -4px -4px 10px #2c4f4e;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #1a3130;
}

.btn-get-started:hover {
  box-shadow: inset 2px 2px 5px #172928, inset -2px -2px 5px #2c4f4e,
    2px 2px 5px #101010, -2px -2px 5px #2c4f4e;
}

.btn-get-started:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #172928, inset -2px -2px 5px #2c4f4e,
    2px 2px 5px #101010, -2px -2px 5px #2c4f4e;
}

#prev-btn,
#next-btn {
  color: #eeeeee;
  width: 0;
  height: 0;
  padding: 0;
}

#prev-btn:hover,
#next-btn:hover {
  color: #1e1e1e;
}

/* Footer */
.footer {
  background-color: #212421;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  font-size: large;
  color: white;
  padding: 35px 0;
  width: 100%;
  bottom: 0;
  right: 0;
  position: relative;
}

.footer::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
    padding: 10px 15px;
  }

  .logo {
    height: 45px;
  }

  .logo-text {
    font-size: 25px;
  }

  .nav-links {
    justify-content: end;
    margin-top: 10px;
  }

  .nav-links .btn-about,
  .nav-links .btn-get-started {
    font-size: 16px;
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .logo {
    height: 40px;
  }

  .logo-text {
    font-size: 18px;
  }

  .nav-links {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: stretch;
  }

  .nav-links .btn-about,
  .nav-links .btn-get-started {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .footer {
    font-size: 14px;
  }
}

/* Landing */
.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  color: #eeeeee;
  margin: 110px 0;
}

h1 {
  font-size: 40px;
}

.subtitle-home {
  font-size: 30px;
  font-weight: 700;
  color: #eeeeee;
}

.try-now {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin: 20px 0;
}

.try-now:hover {
  background: rgba(0, 0, 0, 0.5);
}

.try-now:active {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3),
    inset -2px -2px 6px rgba(255, 255, 255, 0.1);
}

.mini-text {
  color: #4b4b4b;
  font-size: medium;
  font-weight: 500;
  color: #eeeeee;
}

.about {
  color: #eeeeee;
  margin: 100px;
  padding: 50px;
  backdrop-filter: blur(6px) saturate(60%);
  -webkit-backdrop-filter: blur(6px) saturate(60%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.img-glass {
  /* background-image: url("../assets/image-phish.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.about h1 {
  display: flex;
  font-size: 30px;
}

.text-container {
  max-width: 80%;
  margin: auto;
  font-size: large;
  font-weight: 500;
  margin-top: 50px;
}

.text-container p {
  text-align: justify;
  line-height: 2.4;
  margin: 20px 0px;
}

@media (max-width: 1000px) {
  .about {
    margin: 0px;
  }

  .about h1 {
    display: flex;
    justify-content: center;
  }

  .text-container {
    max-width: 100%;
  }

  .text-container p {
    margin: 20px;
  }
}
