/* Carousel */
.carousel {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: auto;
  z-index: 0;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  margin: 0 70px;
}

.carousel-image {
  width: 300px;
  height: 200px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: brightness(50%);
  position: relative;
  z-index: 1;
  cursor: none;
}

.carousel-image:hover {
  filter: brightness(100%);
}

.modal-image {
  margin-bottom: 850px;
  width: 65%;
  max-height: 70%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
}

button:hover {
  cursor: none;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 2;
}

.thumbnail-image {
  width: 120px;
  height: 80px;
  margin: 10px 5px;
  cursor: pointer;
  border: 2px solid transparent;
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
  cursor: none;
}

.thumbnail-image:hover {
  filter: brightness(100%);
}

.thumbnail-image.active {
  border-color: #0991ec;
  filter: brightness(100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.modal-open {
  overflow-y: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  margin: -8px;
  background-color: #212421;
  z-index: 999;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  cursor: none;
  background: radial-gradient(
    circle,
    #3f3b3c,
    #dc4c44,
    #0c070b,
    #2a282d,
    #433f40,
    #7c777b
  );
  /* #212421,
    #3b6e72,
    #7a98a0,
    #c35242,
    #c0b599,
    #8000ff */
  background-size: 300% 300%;
  animation: circularGradient 20s infinite linear;
}

@keyframes circularGradient {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.dot {
  width: 50px;
  height: 50px;
}

.dot-img {
  width: 30px;
  height: 30px;
}

.dot,
.dot-img {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px gray solid;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #eeeeee;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  transition: 0.3s;
}

.btn-about {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #cccccc;
}

.btn-about:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
    2px 2px 5px #a8a8a8, -2px -2px 5px #ffffff;
}

.btn-about:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
    2px 2px 5px #a8a8a8, -2px -2px 5px #ffffff;
}

.btn-get-started {
  background-color: #223c3b;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #172928, inset -4px -4px 10px #2c4f4e;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #1a3130;
}

.btn-get-started:hover {
  box-shadow: inset 2px 2px 5px #172928, inset -2px -2px 5px #2c4f4e,
    2px 2px 5px #101010, -2px -2px 5px #2c4f4e;
}

.btn-get-started:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #172928, inset -2px -2px 5px #2c4f4e,
    2px 2px 5px #101010, -2px -2px 5px #2c4f4e;
}

#prev-btn,
#next-btn {
  color: #eeeeee;
  width: 0;
  height: 0;
  padding: 0;
}

#prev-btn:hover,
#next-btn:hover {
  color: #1e1e1e;
}

/* Footer */
.footer {
  background-color: #212421;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
  font-size: large;
  color: white;
  padding: 35px 0;
  width: 100%;
  bottom: 0;
  right: 0;
  position: relative;
}

.footer::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
    padding: 10px 15px;
  }

  .logo {
    height: 40px;
  }

  .logo-text {
    font-size: 18px;
  }

  .nav-links {
    justify-content: end;
    margin-top: 10px;
    gap: 8px;
    width: 50%;
  }

  .nav-links .btn-about,
  .nav-links .btn-get-started {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .footer {
    font-size: 14px;
  }
}

/* Landing */
.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  color: #eeeeee;
  margin: 80px 0;
}

h1 {
  font-size: 40px;
}

.subtitle-home {
  font-size: 30px;
  font-weight: 700;
  color: #eeeeee;
}

.mini-text {
  color: #4b4b4b;
  font-size: medium;
  font-weight: 500;
  color: #eeeeee;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: url("../assets/download (3).jpg") no-repeat center; */
  background-size: cover;
  padding: 55px;
  gap: 20px;
  margin-top: 30px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
}

.left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border-radius: 15px;
}

.glass-effect {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  padding: 20px 0;
  color: white;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

hr {
  width: 100%;
}

.about h1 {
  font-size: 30px;
  text-align: center;
}

.text-container {
  font-size: medium;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  max-width: 90%;
}

.text-container p {
  text-align: justify;
  line-height: 2;
  margin: 15px 0px;
}

.try-now {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 16px;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-top: 20px;
}

.try-now:hover {
  background: rgba(0, 0, 0, 0.5);
}

.try-now:active {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3),
    inset -2px -2px 6px rgba(255, 255, 255, 0.1);
}

.button-section {
  display: none;
}

@media (max-width: 1400px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right {
    order: -1;
    width: 100%;
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
  }

  .glass-effect {
    width: 100%;
    padding: 20px 10%;
  }

  iframe {
    width: 400px;
    height: 225px;
  }

  .text-container {
    max-width: 70%;
  }

  .try-now {
    order: 1;
    margin-top: 30px;
  }

  .button-section {
    display: flex;
  }

  #tryNow {
    display: none;
  }

  .modal-image {
    margin-bottom: 950px;
  }
}

@media (max-width: 1200px) {
  .next,
  .prev,
  #curr-image {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  .subtitle-home {
    font-size: 25px;
  }

  .mini-text {
    margin-top: 40px;
  }

  .text-container {
    max-width: 80%;
  }

  .modal-image {
    margin-bottom: 1000px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }

  .mini-text {
    font-size: small;
  }

  .text-container {
    font-size: small;
  }

  .modal-image {
    margin-bottom: 1300px;
  }
}

@media (max-width: 700px) {
  .modal-image {
    margin-bottom: 1400px;
  }
}
